.contentLeftTop {
    width: 400px !important;
}

.contentLeftbottom {
    width: 400px !important;
}

.contentRightTop {
    width: 450px !important;
}

.contentRightbottom {
    width: 450px !important;
}

.center {
    width: 570px !important;
}